<!DOCTYPE html>
<html lang="en">
<head>
    <title>My title</title>
</head>
<body>
    <picture>
        <source srcset="0.gif" media="(min-width: 1px)">
        <source srcset="1.gif" media="(max-width: 1px)">
        <img src="0.gif">
    </picture>
    <picture>
        <source srcset="0.gif" media="(max-width: 1px)">
        <source srcset="1.gif" media="(min-width: 1px)">
        <img src="0.gif">
    </picture>
    <picture id="changing_img">
        <source id="zero" srcset="0.gif" media="(min-width: 1px)">
        <source id="one" srcset="1.gif" media="(max-width: 1px)">
        <img src="0.gif">
    </picture>
</body>
<script>
    changing_img = document.getElementById("changing_img")
    changing_img.onclick = changeImg
    changing_img.currentState = 0
    console.log(changing_img.currentState)

    zero = document.getElementById("zero")
    one = document.getElementById("one")

    function changeImg(event) {
        img = event.currentTarget
        console.log(img)
        newState = 1 - img.currentState
        console.log(img.currentState)

        if (newState == 0) {
          wantImg = zero
          notImg = one
        } else {
          wantImg = one
          notImg = zero
        }

        wantImg.media = "(min-width: 1px)"
        notImg.media = "(max-width: 1px)"

        img.currentState = newState
    }
</script>
